.newsletter-style {
  background-image: url(alexander-popov-FhzihVX0hr4-unsplash.jpg);
  min-height: 84vh;
  background-size: cover;
  background-position: center;
}

.same-height {
  display: flex;
}
