/* .circle-1 {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  overflow: hidden;
  background: linear-gradient(to right, rgb(68, 255, 0), rgb(22, 32, 18));

  position: absolute;
  top: 60%;
  left: 70%;
  z-index: 1;
}

.circle-2 {
} */
