.miasto-style {
  height: 84vh;

  background-image: url(alexander-popov-FhzihVX0hr4-unsplash.jpg);

  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.miasto-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;
  height: 40px;
  margin: 20px;
  background-color: black;
  /* background-size: px; */
  color: white;
  border-radius: 50px;
  font-size: 20px;
  text-decoration: none;
}

.miasto-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
