.navbar {
  display: flex;

  background-color: rgb(14, 14, 13);
  height: 6.2rem;
  justify-content: space-between;
}

.navbar-container {
  display: flex;
  align-items: center;

  padding-left: 3.2rem;
}

.buttons-all-nav-2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 3.2rem;
}
.buttons-all-nav-1 {
  display: flex;

  align-items: center;
  gap: 2.4rem;
}

.title-1 {
  color: rgb(68, 255, 0);
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
}

.title-2 {
  padding-left: 0.5rem;
  color: white;
  text-decoration: none;
  font-size: 2.4rem;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
}

.city-button {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

.newsletter-button {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

.dodaj-button {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

/* .szukaj-input {
  text-decoration: none;
  font-size: 15px;
} */

.city-button:hover,
.city-button:active {
  color: rgb(68, 255, 0);
}

.newsletter-button:hover,
.newsletter-button:active {
  color: rgb(68, 255, 0);
}

.dodaj-button:hover,
.dodaj-button:active {
  color: rgb(68, 255, 0);
}
