.footer-all {
  position: fixed;
  bottom: 0;
  width: 100%;

  display: flex;
  height: 5.2rem;
  margin-top: auto;

  background-color: rgb(14, 14, 13);

  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
}
.about-us-button {
  padding-right: 3.2rem;
  text-decoration: none;
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 2rem;
  transition: 0.5s;
}
.contact-button {
  text-decoration: none;
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 2rem;
  padding-right: 2.4rem;
  transition: 0.5s;
}

.about-us-button:hover,
.about-us-button:active {
  color: rgb(68, 255, 0);
}
.contact-button:hover,
.contact-button:active {
  color: rgb(68, 255, 0);
}
